*{
    margin :0;
    padding :0;
}
#top{
    width: 100%;
    height: 100%;
}
small{
    color:deepskyblue;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
h2, h3{
    font-family: 'Titillium Web', sans-serif;
}
h5, p{
    font-family: 'Play', sans-serif;
}
#navi{
    position: fixed;
    right: 0;
    z-index: 10000;
}
.pic1, .pic2, .pic3{
    width:100%;
    height:900px;
    background-position: center;
    /* background-color: blue; */
}
#box1,#box2,#intro{
    /* background-color: blue; */
    width:100%;
    height: 540px;
    text-align: center;
}
#box3{
    width:1200px;
    height:540px;
    text-align: center;
    /* background-color: red; */
}
#box4{
    width:100%;
    height:540px;
    text-align: center;
    padding: 55px;
    background-image: linear-gradient(135deg,silver,#d1bdbd,silver) ;
}
.col-sm-4{
    /* background-color: navy; */
    width: 100%;
    float:left;
    /* border: 1px solid #000;  */
}
#gdemo, #tdemo, #ndemo, #sdemo{
    width:100%;
    height:90%;
    position:relative;
}
.depth1{
    position: absolute;
    text-align: center;
    width:100%;
    height:0;
    background-color: rgba(051, 000, 255, 0.7);
    color:#fff;
    margin-left:-5px;
}
.tech{
    display: none;
    text-align: center;
}
#gdemo:hover .depth1, #tdemo:hover .depth1, #ndemo:hover .depth1, #sdemo:hover .depth1{
    display:block;
    height:484px;
    bottom:0;
    transition:0.5s;
}
#gdemo:hover .tech, #tdemo:hover .tech, #ndemo:hover .tech, #sdemo:hover .tech{
    display:block;
    padding-top:200px;  
}
#gdemo:hover h3, #tdemo:hover h3, #ndemo:hover h3, #sdemo:hover h3{
   color:aqua;
}
video{
    width:360px;
    height:390px;
}

