*{
    margin :0;
    padding :0;
}
#top{
    width: 100%;
    height: 600px;
}
#navi{
    position: fixed;
    right: 0;
}
#box1,#box2{
    /* background-color: blue; */
    width:100%;
    height: 540px;
    text-align: center;
}
.col-sm-4{
    /* background-color: navy; */
    width: 100%;
    float:left;
    /* border: 1px solid #000;  */
}
#gdemo, #ndemo{
    width:100%;
    height:90%;
    position:relative;
}
.depth1{
    position: absolute;
    text-align: center;
    width:100%;
    height:0;
    background-color: lightgrey;
    color:#000;
    opacity:0.9;
    margin-left:-15px;
}
.tech{
    display: none;
    text-align: center;
}
#gdemo:hover .depth1{
    display:block;
    height:484px;
    bottom:0;
    transition:0.5s;
}
#gdemo:hover .tech{
    display:block;
    padding-top:200px;  
}
#gdemo:hover h3{
   color:blue;
}
video{
    width:360px;
    height:390px;
}

