.navbar{
    background-color: #fff;
    border-bottom: none;
}
.navbar a{
    color:#4E5968;
}
.navbar-brand{
    position: absolute;
    top:-1px !important;
}
#main{
    width:100%;
    height:1080px;
    padding:0;
    background-image: url(img/new_main.png);
    background-position: center;
}
#main h1{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    padding-top: 250px;
    color:#000;
    background: linear-gradient(180deg, #fff 0%, #fff 59px, rgba(255, 255, 255, 0) 100%);
}
#main h1:nth-child(2){
    display: none;
}
#main div{
    text-align:center;
}
#main img{
    width:24px;
    height:24px;
}
#main a{
    display: inline-block;
    width:150px;
    height:40px;
    background-color: #000;
    opacity:0.5;
    border-radius: 7px;
    color:#fff;
    font-weight:bold;
    font-size:16px;
    padding-top:8px;
    margin-top:50px;
    
}
#main a:nth-child(3){
    display:none;
}
#catch{
    width:100%;
    height:600px;
    background: #F9FAFB;
    padding:200px 0;
    
}
#catch h2{
    text-align: center;
    color:#000;
    font-size:30px;
    font-weight:900;
    line-height: 50px;
    letter-spacing: -2px;
}
#catch h2:nth-child(2){
    display: none;
}
#home{
    height:1300px;
}
#home h2,
#send h2{
    color:#3182f6;
    font-weight:bold;
}
#home h3,
#send h3{
    font-weight:bold;
    font-size:40px;
}
#send span{
    color:#3182F6;
    font-weight:bold;
    font-size:20px;
}
#send .txt1{
    font-size:35px;
    font-weight:bold;
    color:#333D4B;
}
#send .txt2{
    font-size:20px;
    font-weight:bold;
    color:gray;
}
/* 번외 */
#box1,#box4{
    position: relative;
    height: 300px !important;
}
#box2,#box3{
    position: relative;
    height: 887px !important;    
}
.pic01{
    width:57%;
    top:11%;
    left: 22%;
    position: absolute;
 
}
.pic02{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
/* 번외 */

#send{
    width:100%;
    height:1500px;
    background-color: #F9FAFB;
    position:relative;
}
/* 1번 */
#bespoke .head{
    font-size:60px;
    font-weight:900;
    padding-top:200px;
    padding-bottom:200px;
}
/* 1번 */
/* 2번 */
#bespoke .side{
    padding-top:40px;
    font-size: 18px;
    font-weight:bold;
    color:#4B5460;
}
/* 2번 */
/* 3번 */
#bespoke .foot{
    padding-top:100px;
    padding-bottom:100px;
}
#bespoke .foot1{
    font-weight:bold;
}
#bespoke .foot2{
    color:#B0B8C1;
    font-weight:bold;
    line-height: 45px;
}
/* 3번 */
.pic03 {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.pic04{
    width:672px;
    height:838px;
    position:absolute;
    top:0;
    left:0;
}
#box6 .col-sm-6, 
#box7 .col-sm-6, 
#box8 .col-sm-6{
    height: 384px;
}
#bespoke .col-sm-8{
    height:838px;
}
#bespoke .col-sm-4{
    padding-top:150px;
    height:838px;
}
.pic05{
    width:336px;
    height: 432px;
}
#business{
    background: #000;
}
/* 4번 */
#business .head1{
    text-align:center;
    font-size:55px;
    color:#fff;
    font-weight:bold;
}
#business .head2{
    text-align:center;
    font-size:30px;
    color:#B0B8C1;
    font-weight:bold;
    line-height:45px;
    padding-bottom:200px;
}
.pic06{
    width:100%;
    /* padding-top:100px;  라인생성때문에 임시조치   */
}
#business .btn{
    background: #3182F6;
    color:#F9FAFB;
}
#business .col-sm-3{
    padding-bottom:200px;
}
#business .col-sm-3 h2{
    font-weight:bold;
    color:#fff;
}
#business .col-sm-3 h3{
    font-size:18px;
    font-weight:bold;
    color:#B0B8C1;
}
/* 4번 */
/* 5번 */
ul{
    list-style: none;
}
footer{
    background: #191F28;
    padding-top:50px;
    padding-bottom:150px;
    color:#6B7684;
}
footer .col-sm-2, .col-sm-6{
    
    font-size:15px;
    line-height:2;
}
footer .top{
    font-weight:bold;
    padding-bottom:10px;
    color:#B0B8C1;
}
footer .company_info{
    padding-top:20px;
    padding-bottom:15px;
}
footer h4{
    font-size:15px;
    font-weight:bold;
    color:#B0B8C1;
}
footer p{
    font-size:13px;
    color:#B0B8C1;
}
/* 5번 */
@media screen and (max-width:767px){
    #main{
        background-position: center;
    }
    #main h1{
        font-size:30px;
    }
    #main h1:nth-child(1){
        display:none;
    }
    #main h1:nth-child(2){
        display:block;
    }
    #main a{
        display:none;
    }
    #main a:nth-child(3){
        display: inline-block;
        background: #3182f6;
        opacity: 1;
    }
    #catch{
        padding: 140px 0;
    }
    #catch h2{
        font-size:21px;
    }
    #catch h2:nth-child(1){
        display:none;
    }
    #catch h2:nth-child(2){
        display: block;
        line-height: 35px;
    }
    #box3{
        display:none;
    }
    #box4 h3{
        font-size:19px;
    }
    #box5, #box6{
        float:left;        
    }
    #box7, #box8{
        float:right;
    }
}